.favorites {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1em;
    grid-auto-flow: dense;
}
.favorite__title {
    text-align: center;
    padding: 10px;
}

@media (max-width: 1150px) {
    .favorites {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 950px) {
    .favorites {
        grid-template-columns: repeat(3, 1fr);
    }
} 

@media (max-width: 850px) {
    .favorites {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 650px) {
    .favorites {
        grid-template-columns: repeat(1, 1fr);
    }
}